<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet"href="../../static/css/style.css" th:href="@{css/style.css} "/>

<link rel="stylesheet"href="../../static/css/materia/boostrap.min.css" th:href="@{css/materia/boostrap.min.css} "/>
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header">
</div>
<div layout:fragments"content">
</div>

<div th:replace="fragments/footer::footer">
</div>
</body>
</html>